# requirements.txt

aiofiles==24.1.0
altair==5.5.0
annotated-types==0.7.0
anyio==4.9.0
anywidget==0.9.18
asttokens==3.0.0
attrs==25.3.0
beautifulsoup4==4.13.4
blinker==1.9.0
bqplot==0.12.44
branca==0.8.1
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.0
colorama==0.4.6
colour==0.1.5
comm==0.2.2
contourpy==1.3.2
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
duckdb==1.2.2
executing==2.2.0
fastapi==0.115.12
ffmpy==0.5.0
filelock==3.18.0
folium==0.19.5
fonttools==4.58.0
fsspec==2025.3.2
gdown==5.2.0
geojson==3.2.0
geopandas==1.0.1
gitdb==4.0.12
GitPython==3.1.44
gradio==5.29.0
gradio_client==1.10.0
groovy==0.1.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.31.2
idna==3.10
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipykernel==6.29.5
ipyleaflet==0.19.2
ipython==9.2.0
ipython_pygments_lexers==1.1.1
ipytree==0.2.2
ipyvue==1.11.2
ipyvuetify==1.11.1
ipywidgets==8.1.7
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter-leaflet==0.19.2
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
leafmap==0.45.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
narwhals==1.39.0
nest-asyncio==1.6.0
numpy==2.2.5
opencv-python-headless==4.11.0.86
orjson==3.10.18
packaging==24.2
pandas==2.2.3
parso==0.8.4
pillow==11.2.1
platformdirs==4.3.8
plotly==6.0.1
prompt_toolkit==3.0.51
protobuf==6.30.2
psutil==7.0.0
psygnal==0.13.0
pure_eval==0.2.3
pyarrow==20.0.0
pydantic==2.11.4
pydantic_core==2.33.2
pydeck==0.9.1
pydub==0.25.1
Pygments==2.19.1
pyngrok==7.2.8
pyogrio==0.11.0
pyparsing==3.2.3
pyproj==3.7.1
pyshp==2.3.1
PySocks==1.7.1
pystac==1.13.0
pystac-client==0.8.6
python-box==7.3.2
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2025.2
pywin32==310
PyYAML==6.0.2
pyzmq==26.4.0
referencing==0.36.2
requests==2.32.3
rich==14.0.0
rpds-py==0.24.0
ruff==0.11.9
safehttpx==0.1.6
scooby==0.10.1
semantic-version==2.10.0
shapely==2.1.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
stack-data==0.6.3
starlette==0.46.2
streamlit==1.45.1
streamlit_folium==0.25.0
tenacity==9.1.2
toml==0.10.2
tomlkit==0.13.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
traittypes==0.2.1
typer==0.15.3
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.34.2
watchdog==6.0.0
wcwidth==0.2.13
websockets==15.0.1
whitebox==2.3.6
whiteboxgui==2.3.0
widgetsnbextension==4.0.14
xyzservices==2025.4.0
